.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #040038;
    background: linear-gradient(0deg, rgba(4, 0, 56, 1) 77%, rgba(9, 9, 121, 1) 99%);
    box-sizing: border-box;
    overflow: hidden;
}




.menu-bar{
    position: absolute;
    left: 25px;
    background: #200000;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    z-index: 3;
}

.item{
    color: rgb(190, 173, 173);
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
}

.item .title{
    font-weight: 600;
}

.item:hover{
    background-color: #18000080;
}





.centerbuilding{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 3000px;
    width: 1250px;
    background-color: #200000;
    border: solid color(#000000);
}




.rectangle6 {
    position: absolute;
    left: 730px;
    bottom: 725px;
    height: 200px;
    width: 20px;
    background-color: #000000;
    border-style: solid;
    border-color: black;
    z-index: 3;
}

.rectangle7 {
    position: absolute;
    left: 640px;
    bottom: 825px;
    height: 20px;
    width: 200px;
    background-color: #000000;
    border-style: solid;
    border-color: black;
    z-index: 3;
}

.rectangle8{
    position: absolute;
    left: 640px;
    bottom: 725px;
    height: 200px;
    width: 200px;
    background-color: #d6c79d;
    border-style: solid;
    border-color: black;
    z-index: 2;
}



.rectangle9 {
    position: absolute;
    left: 730px;
    bottom: 375px;
    height: 200px;
    width: 20px;
    background-color: #000000;
    border-style: solid;
    border-color: black;
    z-index: 3;
}

.rectangle10 {
    position: absolute;
    left: 640px;
    bottom: 475px;
    height: 20px;
    width: 200px;
    background-color: #000000;
    border-style: solid;
    border-color: black;
    z-index: 3;
}

.rectangle11{
    position: absolute;
    left: 640px;
    bottom: 375px;
    height: 200px;
    width: 200px;
    background-color: #d6c79d;
    border-style: solid;
    border-color: black;
    z-index: 2;
}






.rectangle12 {
    position: absolute;
    left: 730px;
    bottom: 25px;
    height: 200px;
    width: 20px;
    background-color: #000000;
    border-style: solid;
    border-color: black;
    z-index: 3;
}

.rectangle13 {
    position: absolute;
    left: 640px;
    bottom: 125px;
    height: 20px;
    width: 200px;
    background-color: #000000;
    border-style: solid;
    border-color: black;
    z-index: 3;
}

.rectangle14{
    position: absolute;
    left: 640px;
    bottom: 25px;
    height: 200px;
    width: 200px;
    background-color: #d6c79d;
    border-style: solid;
    border-color: black;
    z-index: 2;
}



.rectangle18{
    position: absolute;
    left: 1000px;
    height: 2000px;
    width: 5px;
    background-color: #000000;
    z-index: 2;
}



.rectangle19{
    position: absolute;
    left: 643px;
    bottom: 345px;
    height: 60px;
    width: 200px;
    background-color: #501919;
    z-index: 4;
}

.rectangle19{
    color: aliceblue;
    text-decoration: solid;
    font-size: large;
    text-align: center;
    z-index: 4;
}

.rectangle20{
    position: absolute;
    left: 643px;
    bottom: 685px;
    height: 60px;
    width: 200px;
    background-color: #501919;
    z-index: 4;
}

.rectangle20{
    color: aliceblue;
    text-decoration: solid;
    font-size: large;
    text-align: center;
    z-index: 4;
}

.wall{
    position: absolute;
    right: 675px;
    bottom: 500px;
    color: rgb(127, 204, 27);
    text-decoration: solid;
    font-size: x-large;
    text-align: center;
    rotate: 35deg;
    z-index: 4;
}





.cloud{ 
    position: absolute;
    right:100px;
    top: 20px;
    margin-top:70px;
    width:250px;
    height:120px;
    background:#000622;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    z-index: 3;
}
.cloud::after, .cloud::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
    z-index: 3;
}
.cloud::after{
    width:100px;
    height:100px;
    top:-220px;
    left:50px;
    z-index: 3;
}
.cloud::before{
    width:180px;
    height:180px;
    top:-70px;
    left:130px;
    z-index: 3;
}

.cloud2{
    color: rgb(252, 197, 222);
    position: absolute;
    right: 100px;
    top: 130px;
    text-align: center;
    font-size: larger;
    z-index: 5;
}