.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 3, 23, 1) 32%, rgba(0, 2, 38, 1) 100%);
    box-sizing: border-box;
    overflow: hidden;
}





.menu-bar{
    position: absolute;
    bottom: 150px;
    left: 40px;
    background: #a79a9a;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    z-index: 3;
}

.item{
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
}

.item.title{
    font-weight: 600;
}

.item:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.oval{
    position: absolute;
    bottom: 50px;
    left: 300px;
    height: 50px;
    width: 100px;
    background-color: #202020;
    border-radius: 50%;
    border: solid color(#000000);
    color: aliceblue;
    text-decoration: solid;
    font-size: smaller;
    text-align: center;
    z-index: 3;
    border-style: solid;
    border-color: black;
}

.rectangle{
    position: absolute;
    bottom: 150px;
    height: 50px;
    width: 3000px;
    background-color: #a79a9a;
    z-index: 2;
}

.rectangle2{
    position: absolute;
    bottom: 0px;
    height: 150px;
    width: 3000px;
    background-color: #363636;
    z-index: 2;
}

.rectangle3{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 3000px;
    width: 150px;
    background-color: #363636;
    z-index: 1;
}

.rectangle4{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 3000px;
    width: 150px;
    background-color: #363636;
    z-index: 1;
}

.centerbuilding{
    position: absolute;
    bottom: 0px;
    height: 3000px;
    width: 1250px;
    background-color: #363636;
    border: solid color(#000000);
}

.rectangle6 {
    position: absolute;
    left: 540px;
    bottom: 700px;
    height: 200px;
    width: 20px;
    background-color: #000000;
    border-style: solid;
    border-color: black;
    z-index: 3;
}

.rectangle7 {
    position: absolute;
    left: 450px;
    bottom: 800px;
    height: 20px;
    width: 200px;
    background-color: #000000;
    border-style: solid;
    border-color: black;
    z-index: 3;
}

.rectangle8{
    position: absolute;
    left: 450px;
    bottom: 700px;
    height: 200px;
    width: 200px;
    background-color: #d6c79d;
    border-style: solid;
    border-color: black;
    z-index: 2;
}

.rectangle9{
    position: absolute;
    right: 540px;
    bottom: 700px;
    height: 200px;
    width: 20px;
    background-color: #000000;
    border-style: solid;
    border-color: black;
    z-index: 3;
}

.rectangle10{
    position: absolute;
    right: 450px;
    bottom: 800px;
    height: 20px;
    width: 200px;
    background-color: #000000;
    border-style: solid;
    border-color: black;
    z-index: 3;
}

.rectangle11{
    position: absolute;
    right: 450px;
    bottom: 700px;
    height: 200px;
    width: 200px;
    background-color: #d6c79d;
    border-style: solid;
    border-color: black;
    z-index: 2;
}

.rectangle12{
    position: absolute;
    right: 550px;
    bottom: 0px;
    padding: 4px;
    margin: 4px;
    height: 400px;
    width: 200px;
    background-color: #7e7a70;
    border-style: solid;
    border-color: black;
    z-index: 1;
}

.drawing{
    position: absolute;
    right: 550px;
    bottom: 1000px;
    height: 400px;
    width: 200px;
    color: aliceblue;
    z-index: 4;
}

.door{
    color: aliceblue;
}
