.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 3, 23, 1) 32%, rgba(0, 2, 38, 1) 100%);
    box-sizing: border-box;
}





.menu-bar{
    position: absolute;
    bottom: 150px;
    left: 40px;
    background: #a79a9a;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    z-index: 3;
}

.item{
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
}

.item.title{
    font-weight: 600;
}

.item:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.oval{
    position: absolute;
    bottom: 50px;
    left: 300px;
    height: 50px;
    width: 100px;
    background-color: #202020;
    border-radius: 50%;
    border: solid color(#000000);
    color: aliceblue;
    text-decoration: solid;
    font-size: smaller;
    text-align: center;
    z-index: 3;
}

.rectangle{
    position: absolute;
    bottom: 150px;
    height: 50px;
    width: 3000px;
    background-color: #a79a9a;
    z-index: 2;
}

.rectangle2{
    position: absolute;
    bottom: 0px;
    height: 150px;
    width: 3000px;
    background-color: #363636;
    z-index: 2;
}

.rectangle3{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 3000px;
    width: 150px;
    background-color: #363636;
    z-index: 1;
}

.rectangle4{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 3000px;
    width: 150px;
    background-color: #363636;
    z-index: 1;
}

.rectangle5{
    position: absolute;
    bottom: 0px;
    height: 3000px;
    width: 850px;
    background-color: #363636;
    border: solid color(#000000);
    z-index: 1;
}

.rectangle6{
    position: absolute;
    left: 550px;
    bottom: 700px;
    height: 200px;
    width: 20px;
    background-color: #363636;
    border: solid color(#000000);
    z-index: 3;
}

.rectangle7{
    position: absolute;
    left: 550px;
    bottom: 700px;
    height: 20px;
    width: 200px;
    background-color: #363636;
    border: solid color(#000000);
    z-index: 3;
}


.rectangle8{
    position: absolute;
    left: 350px;
    bottom: 700px;
    height: 200px;
    width: 200px;
    background-color: #d6c79d;
    z-index: 2;
}

.rectangle9{
    position: absolute;
    right: 350px;
    bottom: 700px;
    height: 200px;
    width: 200px;
    background-color: #d6c79d;
    z-index: 2;
}

.parallelogram{
	width: 100px;
	height: 50px;
	transform: skew(20deg);
	background: #bebebe;
}

.parallelogram2{
	width: 100px;
	height: 50px;
	transform: skew(20deg);
	background: #bebebe;
}