.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 3, 23, 1) 32%, rgba(0, 2, 38, 1) 100%);
    box-sizing: border-box;
}

img{

}

.title h1{
    position: relative;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
}

.{
    position: absolute;
    top: -150px;
    left: 45%;
    color: #fff;
}

.{
    position: relative;
    top: 150px;
    background: #ccc;
}

.{
    position: absolute;
    content: "";
    display: block;
    width: 158px;
    height: 2px;
    left: 7%;
    background-color: #ddd;
    top: -220px;
    transform: rotate(119deg);
}

.{
    position: absolute;
    content: "";
    display: block;
    width: 158px;
    height: 2px;
    left: 34%;
    background-color: #ddd;
    top: -220px;
    transform: rotate(-119deg);
}

.{
    transform: rotate(-10deg)
}

.{
    position: absolute;
    width: 80px;
    right: -40px;
    top: -50px;
    transform: rotate(30deg);
}

.{
    background-color: #ccc;
    width: 300px;
    padding: 5px 0px;
    margin-bottom: 18px;
    font-family: "BBH Hegarty", sans-serif;
    text-decoration: underline;
    color: rgb(122, 0, 0);
}

.{
    background-color: #fff;
    width: 300px;
    font-size: 35px;
    line-height: 0.02;
    font-family: "Playfair Display", serif;
    text-decoration: underline;
    color: rgb(43, 95, 0);
}
.{
    font-size: 15px;
    font-family: "PT Serif", serif;
    color: rgb(231, 192, 16);
}
