.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 3, 23, 1) 32%, rgba(0, 2, 38, 1) 100%);
    box-sizing: border-box;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #040038;
    background: linear-gradient(0deg, rgba(4, 0, 56, 1) 77%, rgba(9, 9, 121, 1) 99%);
    box-sizing: border-box;
}

.work{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #040038;
    background: linear-gradient(0deg, rgb(248, 20, 229) 77%, rgba(9, 9, 121, 1) 99%);
    box-sizing: border-box;
}






.menu-bar .about {
    background: #200000;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

.item .about {
    color: rgb(179, 166, 166);
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
}

.item .title.about {
    font-weight: 600;
}

.item .about:hover {
    background-color: #18000080;
}








.menu-bar {
    background: #a79a9a;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

.item {
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
}

.item.title {
    font-weight: 600;
}

.item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}






.menu-bar .work {
    background: #ce4f997c;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

.item .work {
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
}

.item.title .work {
    font-weight: 600;
}

.item .work:hover {
    background-color: #d12b6b7c;
}