.work{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #040038;
    background: linear-gradient(0deg, rgb(248, 20, 229) 77%, rgba(9, 9, 121, 1) 99%);
    box-sizing: border-box;
    overflow: hidden;
}



.menu-bar{
    position: absolute;
    bottom: 5px;
    background: #ce4f9900;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    z-index: 3;
}

.item {
    color: rgb(212, 0, 89);
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
}

.item.title{
    font-weight: 600;
}

.item:hover{
    background-color: #d12b6bbb;
}


.rectangle{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0px;
    height: 60px;
    width: 300px;
    background-color: #271111;
    z-index: 2;
}

.rectangle2{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0px;
    height: 600px;
    width: 20px;
    background-color: #271111;
    z-index: 2;
}


.cloud{ 
    position: absolute;
    right:100px;
    top: 20px;
    margin-top:70px;
    width:280px;
    height:120px;
    background:#ffa5e9;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    z-index: 3;
}
.cloud::after, .cloud::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
    z-index: 3;
}
.cloud::after{
    width:100px;
    height:100px;
    top:-220px;
    left:50px;
    z-index: 3;
}
.cloud::before{
    width:180px;
    height:180px;
    top:-70px;
    left:130px;
    z-index: 3;
}
.cloudtext{
    position: absolute;
    right:90px;
    top: 130px;
    z-index: 4;
}

.cloud2{ 
    position: absolute;
    right:60px;
    top: 700px;
    margin-top:70px;
    width:270px;
    height:140px;
    background:#ffa5e9;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    z-index: 3;
}
.cloud2::after, .cloud2::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
    z-index: 3;
}
.cloud2::after{
    width:120px;
    height:120px;
    top:-220px;
    left:50px;
    z-index: 3;
}
.cloud2::before{
    width:200px;
    height:200px;
    top:-70px;
    left:130px;
    z-index: 3;
}
.cloudtext2{
    position: absolute;
    right:10px;
    top: 820px;
    z-index: 4;
}

.cloud3{ 
    position: absolute;
    right:200px;
    top: 400px;
    margin-top:70px;
    width:450px;
    height:120px;
    background:#ffa5e9;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    z-index: 3;
}
.cloud3::after, .cloud3::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
    z-index: 3;
}
.cloud3::after{
    width:100px;
    height:100px;
    top:-220px;
    left:50px;
    z-index: 3;
}
.cloud3::before{
    width:180px;
    height:180px;
    top:-70px;
    left:130px;
    z-index: 3;
}
.cloudtext3{
    position: absolute;
    right:245px;
    top: 510px;
    z-index: 4;
}

.cloud4{ 
    position: absolute;
    right:1500px;
    top: 20px;
    margin-top:70px;
    width:400px;
    height: 150px;
    background:#ffa5e9;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    z-index: 3;
}
.cloud4::after, .cloud4::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
    z-index: 3;
}
.cloud4::after{
    width:150px;
    height:140px;
    top:-220px;
    left:50px;
    z-index: 3;
}
.cloud4::before{
    width:240px;
    height:240px;
    top:-70px;
    left:130px;
    z-index: 3;
}
.cloudtext4{
    position: absolute;
    right:1515px;
    top: 160px;
    z-index: 4;
}

.cloud5{ 
    position: absolute;
    right:1200px;
    top: 450px;
    width:430px;
    height:120px;
    background:#ffa5e9;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    z-index: 3;
}
.cloud5::after, .cloud5::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
    z-index: 3;
}
.cloud5::after{
    width:100px;
    height:90px;
    top:-220px;
    left:50px;
    z-index: 3;
}
.cloud5::before{
    width:180px;
    height:180px;
    top:-70px;
    left:130px;
    z-index: 3;
}
.cloudtext5{
    position: absolute;
    right:1230px;
    top: 520px;
    z-index: 4;
}

.cloud6{ 
    position: absolute;
    right:800px;
    top: 50px;
    margin-top:70px;
    width:260px;
    height:120px;
    background:#ffa5e9;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    z-index: 3;
}
.cloud6::after, .cloud6::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
    z-index: 3;
}
.cloud6::after{
    width:100px;
    height:90px;
    top:-220px;
    left:50px;
    z-index: 3;
}
.cloud6::before{
    width:180px;
    height:180px;
    top:-70px;
    left:130px;
    z-index: 3;
}
.cloudtext6{
    position: absolute;
    right:755px;
    top: 160px;
    z-index: 4;
}

.cloud7{ 
    position: absolute;
    right:1500px;
    top: 600px;
    margin-top:70px;
    width:230px;
    height:120px;
    background:#ffa5e9;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    z-index: 3;
}
.cloud7::after, .cloud7::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
    z-index: 3;
}
.cloud7::after{
    width:100px;
    height:90px;
    top:-220px;
    left:50px;
    z-index: 3;
}
.cloud7::before{
    width:180px;
    height:180px;
    top:-70px;
    left:130px;
    z-index: 3;
}
.cloudtext7{
    position: absolute;
    right:1432px;
    top: 715px;
    z-index: 4;
}
